@font-face {
  font-family: "font-uneno";
  src:  url("../webfonts/font-uneno.eot?6uqkhe");
  src:  url("../webfonts/font-uneno.eot?6uqkhe#iefix") format("embedded-opentype"),
    url("../webfonts/font-uneno.ttf?6uqkhe") format("truetype"),
    url("../webfonts/font-uneno.woff?6uqkhe") format("woff"),
    url("../webfonts/font-uneno.svg?6uqkhe#font-uneno") format("svg");
  font-weight: normal;
  font-style: normal;
}

.uo {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-uneno' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uo-bag:before {
  content: "\e900";
}
.uo-down-arrow:before {
  content: "\e901";
}
.uo-magnifying-glass:before {
  content: "\e902";
}
.uo-heart:before {
  content: "\e903";
}
.uo-down-arrow-1:before {
  content: "\e904";
}
.uo-tag:before {
  content: "\e905";
}
.uo-mouse:before {
  content: "\e906";
}
.uo-star:before {
  content: "\e907";
}
.uo-star-1:before {
  content: "\e908";
}
.uo-sent-mail:before {
  content: "\e909";
}
.uo-paper-plane:before {
  content: "\e90a";
}
.uo-visa .path1:before {
  content: "\e90b";
  color: rgb(35, 148, 188);
}
.uo-visa .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(239, 199, 94);
}
.uo-mastercard .path1:before {
  content: "\e90d";
  color: rgb(226, 87, 76);
}
.uo-mastercard .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(244, 180, 89);
}
.uo-amex .path1:before {
  content: "\e90f";
  color: rgb(38, 166, 209);
}
.uo-amex .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.uo-mastercard-1 .path1:before {
  content: "\e911";
  color: rgb(38, 166, 209);
}
.uo-mastercard-1 .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(226, 87, 76);
}
.uo-menu:before {
  content: "\e913";
}
.uo-right:before {
  content: "\e914";
}
.uo-instagram:before {
  content: "\e915";
}
.uo-twitter:before {
  content: "\e916";
}
.uo-facebook:before {
  content: "\e917";
}
.uo-youtube:before {
  content: "\e918";
}
.uo-valentines-heart:before {
  content: "\e919";
}
.uo-menu-1:before {
  content: "\e91a";
}
.uo-list:before {
  content: "\e91b";
}
.uo-speaker:before {
  content: "\e91c";
}
.uo-quality:before {
  content: "\e91d";
}
.uo-box:before {
  content: "\e91e";
}
.uo-shield:before {
  content: "\e91f";
}
.uo-shipping-and-delivery:before {
  content: "\e920";
}
.uo-undo:before {
  content: "\e921";
}
.uo-cancel:before {
  content: "\e922";
}
.uo-checkmark:before {
  content: "\e923";
}
.uo-paypal .path1:before {
  content: "\e924";
  color: rgb(19, 154, 214);
}
.uo-paypal .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(38, 59, 128);
}
.uo-paypal .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(38, 59, 128);
}
.uo-paypal .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(19, 154, 214);
}
.uo-paypal .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(38, 59, 128);
}
.uo-paypal .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(19, 154, 214);
}
.uo-paypal .path7:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(38, 59, 128);
}
.uo-paypal .path8:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(19, 154, 214);
}
.uo-paypal .path9:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(35, 44, 101);
}
.uo-bitcoin .path1:before {
  content: "\e92d";
  color: rgb(237, 108, 12);
}
.uo-bitcoin .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(224, 90, 0);
}
.uo-bitcoin .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(237, 108, 12);
}
.uo-bitcoin .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(224, 90, 0);
}
.uo-bitcoin .path5:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 182, 0);
}
.uo-bitcoin .path6:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(246, 146, 30);
}
.uo-bitcoin .path7:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(216, 81, 7);
}
.uo-bitcoin .path8:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(77, 78, 78);
}
.uo-bitcoin .path9:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(77, 78, 78);
}
.uo-bitcoin .path10:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(77, 78, 78);
}
.uo-bitcoin .path11:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(77, 78, 78);
}
.uo-bitcoin .path12:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(77, 78, 78);
}
.uo-bitcoin .path13:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(77, 78, 78);
}
.uo-bitcoin .path14:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(77, 78, 78);
}
.uo-bitcoin .path15:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(226, 102, 0);
}
.uo-bitcoin .path16:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(226, 102, 0);
}
.uo-bitcoin .path17:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(237, 108, 12);
}
.uo-bitcoin .path18:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(237, 108, 12);
}
.uo-bitcoin .path19:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(237, 108, 12);
}
.uo-bitcoin .path20:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(224, 90, 0);
}
.uo-amazon .path1:before {
  content: "\e941";
  color: rgb(247, 152, 29);
}
.uo-amazon .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(232, 110, 0);
}
.uo-amazon .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(247, 152, 29);
}
.uo-amazon .path4:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(232, 110, 0);
}
.uo-amazon .path5:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.uo-amazon .path6:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.uo-amazon .path7:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.uo-amazon .path8:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.uo-amazon .path9:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(232, 110, 0);
}
.uo-amazon .path10:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(247, 152, 29);
}
.uo-amazon .path11:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(247, 152, 29);
}
.uo-amazon .path12:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(247, 152, 29);
}
.uo-amazon .path13:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.uo-amazon .path14:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.uo-amazon .path15:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(84, 94, 96);
}
.uo-amazon .path16:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(84, 94, 96);
}
.uo-amazon .path17:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(84, 94, 96);
}
.uo-amazon .path18:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(84, 94, 96);
}
.uo-amazon .path19:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(84, 94, 96);
}
.uo-amazon .path20:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(84, 94, 96);
}
.uo-success:before {
  content: "\e955";
}
.uo-shop:before {
  content: "\e956";
}
.uo-left-quote:before {
  content: "\e957";
}

